
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: url('nouvelle.jpg') no-repeat;
	color: white;
	background-size:100% 100%;
	
}
header {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 450px;
	margin:1px;
    position: sticky;                    
    top: 0;
	display:flex;
}
.container {
    margin: 0 20px;
}
header h1 {
	margin: 0;
	
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    margin: 10px;
}
header nav ul li a {
	
    text-decoration: none;	
    transition: color 0.3s;
	color:white;
}
header nav ul li a:hover {
    color: green;
	
}
section  {
    padding: 20px 200px;
    margin: 20px 200px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px ;
}
h2 {
    margin-top: 0;
    color: green;
}
.content {
    margin-top: 15px;
	
}
.content p {
    margin: 10px 0;
}
footer {
    text-align: center;
	margin: 400px 1px;
    padding: 10px 300px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}



.photo-container img {
    width: 150px; 
    height: 150px;
    border-radius:100px;
    border: 4px solid green; 
	margin: 2px 650px;
    
}

